@keyframes comeInGo{
    0%{
        transform: translateY(0%);
    }
    20%{
        transform: translateY(110%);
    }
    70%{
        transform: translateY(110%);
    }
    80%{
        transform: translateY(110%);
    }
    100%{
        transform: translateY(0%);
    }
}


.container_signup{
    width: 100vw;
    height: 100vh;
    background-color: var(--mainColor);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: 2px;
    .signup{
        background-color: var(--callToAction);
        width: 30rem;
        height: fit-content;
        padding: 1.3rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 1s;
        input{
            outline: 0;
            border: 0;
            width: 75%;
            height: 35px;
            padding: 5px;
            color: var(--mainColor);
            font-family: "Poppins";
        }
        button{
            border: 1px solid var(--mainColor);
            background-color: var(--mainColor);
            width: fit-content;
            padding: 10px;
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-family: "Poppins";
            font-size: 14px;
            cursor: pointer;
            transition: .5s;
        }
    }
    p, a{
        font-size: 14px;
    }
    a{
        text-decoration: none;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &::after{
            content: "";
            display: block;
            width: 0;
            height: 2px;
            background-color: white;
            transition: .5s;
        }
        &:hover{
            &::after{
                width: 100%;
            }
        }
    }

    .passwordGuide{
        font-size: 14px;
        margin-top: 3px;
        transition: 1s;
        display: none;
        overflow: hidden;
        background-color: #3a5155aa;
        padding: 10px;
        position: fixed;
        top: -150px;
        transform: translateY(-100%);
        animation: comeInGo 10s;
        ul{
            list-style: disc;
        }
    }
}
