.container_signup{
    width: 100vw;
    height: 100vh;
    background-color: var(--mainColor);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .signup{
        background-color: var(--callToAction);
        width: 30rem;
        height: 30rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        input{
            outline: 0;
            border: 0;
            width: 75%;
            height: 35px;
            padding: 5px;
            color: var(--mainColor);
            font-family: "Poppins";
        }
        button{
            border: 1px solid var(--mainColor);
            background-color: var(--mainColor);
            width: fit-content;
            padding: 10px;
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-family: "Poppins";
            font-size: 14px;
            cursor: pointer;
        }
    }
    p, a{
        font-size: 14px;
    }
    a{
        text-decoration: none;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &::after{
            content: "";
            display: block;
            width: 0;
            height: 2px;
            background-color: white;
            transition: .5s;
        }
        &:hover{
            &::after{
                width: 100%;
            }
        }
    }
}