.workarea_topper{
    width: 100vw;
    height: 10vh;
    border-bottom: 1px solid var(--mainColor);
    display: flex;
    align-items: center;
    position: relative;
    .profile_fullname{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        padding: 5px;
        .circle{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 1px solid black;
        }
        .user_fullname{
            margin-left: 5px;
            font-size: 18px;
        }
    }

    .search_activity{
        width: fit-content;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 20vw;
        input{
            height: 35px;
            padding: 2px 5px;
            font-family: "Poppins";
            font-size: 14px;
            width: 30vw;
            outline: 0;
            border: 1px solid #888888;
            transition: .3s;
            border-radius: 3px;
            &::placeholder{
                color: #aaaaaa77;
                transition: .3s;
            }
            &:focus{
                &::placeholder{
                    color: #aaaaaa;
                }
            }
        }
        button{
            height: 35px;
            width: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 15px;
            color: white;
            margin-left: 2px;
            border: 0;
            outline: 0;
            background-color: var(--callToAction);
            cursor: pointer;
            transition: .3s;
            &:hover{
                background-color: var(--mainColor);
            }
        }
    }

    .topper_icons{
        width: fit-content;
        height: 90%;
        // border: 1px solid black;
        // margin-left: calc(100vw - 89vw);
        position: absolute;
        right: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        .topperIcons{
            width: 3vw;
            height: 70%;
            margin-left: 8px;
            font-size: 20px;
            color: var(--mainColor);
            background-color: transparent;
            border: 0;
            outline: 0;
            transition: .3s;
            cursor: pointer;
            &:hover{
                background-color: #eeeeee;
            }
        }
        .icon_dropdown{
            width: fit-content;
            height: 70%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            cursor: pointer;
            transition: .3s;
            padding: 2px;
            margin-left: 8px;
            position: relative;
            &:hover{
                background-color: #eeeeee;
            }
            .user_circle{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 2.5rem;
                height: 2.5rem;
                border-radius: 50%;
                background-color: #cccccc;
                color: var(--mainColor);
                margin-right: 1px;
            }
            .mainDropdown{
                position: absolute;
                top: 100%;
                right: 0;
                display: flex;
                flex-direction: column;
                background-color: white;
                overflow: hidden;
                font-size: 15px;
                transition: .3s;
                z-index: 1000;
                .mainDropdown_options{
                    width: 12rem;
                    height: 20px;
                    padding: 15px;
                    background-color: transparent;
                    cursor: pointer;
                    transition: .3s;
                    i{
                        margin-right: 3px;
                    }
                    .fa-right-to-bracket{
                        transform: rotate(180deg);
                    }
                    &:hover{
                        background-color: #dddddd;
                    }
                }
            }
        }
    }
}

.workarea_container{
    display: flex;
    width: 100vw;
    height: 89.9vh;
    justify-content: center;
    align-items: center;
    .workarea_nav{
        width: 20vw;
        height: 100%;
        background-color: var(--mainColor);
        transition: .3s;
        color: white;
        overflow-y: scroll;
        &::-webkit-scrollbar{
            width: 4px;
            transition: .3s;
            display: block;
            &:hover{
                width: 5px;
            }
        }
        &::-webkit-scrollbar-thumb{
            background-color: #888888;
            border-radius: 50px;
        }
        .logo_sitename{
            //border: 1px solid white;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 6vh 1vw 6vh 1vw;
            img{
                width: 48%;
                height: 8%;
                margin-bottom: 2px;
            }
            .sitename{
                font-size: 23px;
            }
            .workarea_motto{
                font-size: 13px;
            }
        }
        .workarea_nav_options{
            display: flex;
            padding: 20px 10px;
            font-size: 18px;
            align-items: center;
            justify-content: space-around;
            color: inherit;
            transition: .3s;
            cursor: pointer;
            margin: 10px 0;
            height: 30px;
            // border-left: 3px solid white;
            &:hover{
                background-color: var(--darkModeLight);
            }
        }
    }
    .workarea_main{
        width: 80vw;
        height: 100%;
        overflow: hidden;
        .loader{
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            background-color: #aaaaaa11;
            backdrop-filter: blur(40px);
            i{
                font-size: 90px;
                animation: spin .7s infinite;
            }
        }

        .dashBoardContainer{
            width: 100%;
            height: 100%;
            // display: flex;
            // flex-direction: column;
            overflow-x: hidden;
            overflow-y: scroll;
            &::-webkit-scrollbar{
                width: 5px;
                transition: .3s;
                display: block;
            }
            &::-webkit-scrollbar-thumb{
                background-color: #888888;
                border-radius: 50px;
            }
            .welcome{
                width: fit-content;
                margin: 1% 3.5%;
                .welcome_bold{
                    font-size: 25px;
                }
                .welcome_small{
                    font-size: 14px;
                }
            }

            .cards{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                .dashboard_cards{
                    position: relative;
                    width: 19rem;
                    height: 14rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 2% 1%;
                    background-color: var(--cardColor);
                    border-radius: 4px;
                    cursor: pointer;
                    transition: .3s;
                    i{
                        position: absolute;
                        top: 3%;
                        right: 3%;
                        font-size: 16px;
                    }
                    &:hover{
                        transform: scale(102%);
                    }
                    .count{
                        font-size: 100px;
                    }
                    .tag{
                        position: absolute;
                        bottom: 3px;
                        font-size: 16px;
                    }
                }
            }
        }
        .activitiesContainer{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            .activityNull{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #888888aa;
            }
        }
        .addActivityBoard{
            width: 100%;
            height: 100%;
            overflow-x: hidden;
            overflow-y: scroll;

            &::-webkit-scrollbar{
                width: 5px;
                display: block;
            }
            &::-webkit-scrollbar-thumb{
                background-color: #888888aa;
                border-radius: 50px;
            }
            .addActivityForm{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                position: relative;
                .infoDisplay{
                    position: absolute;
                    top: 3%;
                    right: 0;
                    padding: 25px;
                    background-color: var(--callToAction);
                    color: white;
                    transition: .3s;
                    z-index: 1000;
                }
                .activityTitleInput{
                    width: 41.3rem;
                    height: 35px;
                    border: 1px solid var(--mainColor);
                    color: var(--mainColor);
                    border-radius: 5px;
                    margin: 17px 0;
                    padding: 5px;
                    font-size: 18px;
                    outline: 0;
                    background-color: transparent;
                }
                .category{
                    width: 40rem;
                    height: 15px;
                    padding: 15px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    position: relative;
                    cursor: pointer;
                    border: 1px solid var(--mainColor);
                    border-radius: 5px;
                    margin-bottom: 17px;
                    color: #444444dd;
                    .categories{
                        position: absolute;
                        top: 100%;
                        left: 0;
                        width: 100%;
                        overflow: hidden;
                        background-color: white;
                        .categories_main{
                            padding: 15px;
                            font-size: 16px;
                            height: 20px;
                            width: 100%;
                            transition: .3s;
                            &:hover{
                                background-color: #dddddd;
                            }
                        }
                    }
                }
                .activityPreviewBox{
                    width: 40rem;
                    height: 20rem;
                    border: 1px solid var(--mainColor);
                    margin: 0 0 17px 0;
                    border-radius: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    i{
                        font-size: 100px;
                        color: #888888aa;
                    }
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                        border-radius: 10px;
                    }
                    .loading{
                        width: 100%;
                        height: 100%;
                        background-color: #eee;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 10px;
                        i{
                            font-size: 30px;
                            animation: spin .7s infinite;
                        }
                    }
                }
                .activityImage{
                    display: none;
                }
                .activityImageLabel{
                    width: fit-content;
                    height: 25px;
                    padding: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    background-color: var(--callToAction);
                    border-radius: 5px;
                    font-size: 15px;
                    cursor: pointer;
                }
                .activityNoteAreaDiv{
                    width: 41rem;
                    height: 20rem;
                    margin: 17px 0;
                    .activityNoteArea{
                        width: 100%;
                        height: 100%;
                        border: 1px solid var(--mainColor);
                        border-radius: 3px;
                        outline: 0;
                        font-size: 14px;
                        padding: 10px;
                        font-family: "Poppins";
                        background-color: transparent;
                    }
                }
                .actionButtons{
                    width: 13rem;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    margin: 17px 0;
                    .cancleActivity, .createActivity{
                        padding: 10px;
                        font-size: 17px;
                        outline: 0;
                        cursor: pointer;
                        font-family: "Poppins";
                        color: white;
                    }
                    .cancleActivity{
                        border: 1px solid var(--darkModeLight);
                        background-color: var(--darkModeLight);
                    }
                    .createActivity{
                        background-color: var(--callToAction);
                        border: 1px solid var(--callToAction);
                    }
                }
            }
        }
    }
}