@font-face {
    font-family: "Poppins";
    src: url("../assets/Poppins-Medium.ttf");
}

:root{
    --mainColor: #242c39;
    --callToAction: #3a5155;
    --footerColor: #ffffffee;
    --darkModeLight: #303a49;
    --hoverInDark: #424b58;
    --activeLight: #3f4857;
    --cardColor: #eeeeee55;
    --cardColorDark: #303a49aa  ;
}

*{
    padding: 0;
    margin: 0;
}

// Style changing classes
.moveRight{
    transform: translateX(200%);
}

.moveLeft{
    transform: translateX(0%);
}

.openByHeight{
    height: fit-content;
}

.addShadow{
    box-shadow: 0 0 2px 1px rgba(20, 20, 20, 0.1);
}

.due{
    color: #fa0a0a;
}

.shine{
    color: #f3f310;
}

.complete{
    color: #14d614;
}

.violet{
    color: #612dda;
}

.orange{
    color: #d89c2b;
}

.cyan{
    color: #3bd67c;
}

.general{
    color: #2c70ee;
}

.star{
    color: #dada14;
}

.noShadow{
    box-shadow: 0 0 0 0;
}

.closeByHeight{
    height: 0;
}

.active{
    background-color: var(--activeLight);
    border-left: 4px solid white;
}

.show{
    display: flex;
}

.unshow{
    display: none;
}

////////

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    10%{
        transform: rotate(36deg);
    }
    20%{
        transform: rotate(72deg);
    }
    30%{
        transform: rotate(108deg);
    }
    40%{
        transform: rotate(144deg);
    }
    50%{
        transform: rotate(180deg);
    }
    60%{
        transform: rotate(216deg);
    }
    70%{
        transform: rotate(252deg);
    }
    80%{
        transform: rotate(288deg);
    }
    90%{
        transform: rotate(324deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.darkMode{
    background-color: var(--mainColor);
    color: white;
    .active{
        background-color: var(--activeLight);
        border-left: 4px solid #eee;
    }
    .workarea_topper{
        border-bottom: 1px solid var(--darkModeLight);
        .topper_icons{
            .topperIcons{
                color: white;
                &:hover{
                    background-color: var(--darkModeLight);
                }
            }
            .icon_dropdown{
                &:hover{
                    background-color: var(--darkModeLight);
                }
                .mainDropdown{
                    background-color: var(--darkModeLight);
                    box-shadow: 0 0 0 0;
                    .mainDropdown_options{
                        &:hover{
                            background-color: var(--hoverInDark);
                        }
                    }
                }
            }
        }
    }
    .workarea_container{
        .workarea_nav{
            background-color: var(--darkModeLight);
            color: #eee;
            .workarea_nav_options{
                &:hover{
                    background-color: var(--hoverInDark);
                }
            }
        }
        .workarea_main{
            .dashBoardContainer{
                .cards{
                    .dashboard_cards{
                        background-color: var(--cardColorDark);
                    }
                }
            }
            .addActivityBoard{
                .addActivityForm{
                    .activityTitleInput, .category, .activityPreviewBox, .activityNoteAreaDiv .activityNoteArea{
                        border: 1px solid white;
                        color: white;
                    }
                    .activityTitleInput, .activityNoteAreaDiv .activityNoteArea{
                        &::placeholder{
                            color: #888;
                        }
                    }
                    .category{
                        .categories{
                            background-color: var(--darkModeLight);
                            .categories_main{
                                &:hover{
                                    background-color: var(--hoverInDark);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

body{
    font-size: 16px;
    font-family: "Poppins";
    color: var(--mainColor);
    overflow-x: hidden;
    transition: .3s;
}

.mobileNavContainer{
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(20px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    overflow: hidden;
    display: none;
    .closeNav{
        position: fixed;
        top: 5px;
        left: 5px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 0;
        background-color: #ffffffcc;
        .fa-x{
            font-size: 14px;
            color: var(--mainColor);
        }
    }
    .mobileNavBar{
        height: 100%;
        background-color: white;
        width: 35vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 65vw;
        transform: translateX(200%);
        transition: .5s;
        ul{
            list-style-type: none;
            display: inherit;
            flex-direction: inherit;
            align-items: flex-start;
            width: 100%;
            li{
                padding: 10px;
                width: 100%;
                margin: 5px 0;
                a{
                    color: var(--mainColor);
                    text-decoration: none;
                    &::after{
                        content: "";
                        width: 0;
                        height: 2px;
                        display: block;
                        transition: .5s;
                        background-color: var(--mainColor);
                    }
                    &:hover{
                        &::after{
                            width: 100%;
                        }
                    }
                }
            }
        }

        .mobileNav_buttons{
            width: 100%;
            height: fit-content;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: center;
            button{
                font-size: 18px;
                font-family: "Poppins";
                padding: 10px 15px;
                border: 1px solid var(--callToAction);
                transition: .5s;
                margin: 5px 0;
            }
            .signupBtn{
                background-color: transparent;
                &:hover{
                    background-color: var(--callToAction);
                    color: white;
                }
            }
            .loginBtn{
                background-color: var(--callToAction);
                color: white;
                &:hover{
                    background-color: transparent;
                    color: var(--mainColor);
                }
            }
        }
    }
}

.header{
    display: flex;
    width: 100vw;
    height: 60px;
    padding: 5px;
    align-items: center;
    overflow: hidden;
    .siteTitle{
        font-size: 33px;
    }
    .navList{
        width: 350px;
        height: 100%;
        display: flex;
        list-style-type: none;
        justify-content: space-evenly;
        align-items: center;
        margin-left: 200px;
        li{
            font-size: 17px;
            a{
                text-decoration: none;
                color: var(--mainColor);
                transition: .5s;
                &::after{
                    content: "";
                    display: block;
                    background-color: var(--mainColor);
                    width: 0;
                    height: 2px;
                    transition: .5s;
                }
                &:hover{
                    &::after{
                        width: 100%;
                    }
                }
            }
        }
    }
    .header_buttons{
        width: 200px;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-left: calc(100vw - 970px);
        button{
            width: fit-content;
            height: 30px;
            padding: 10px;
            border: 1px solid var(--callToAction);
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: "Poppins";
            cursor: pointer;
            transition: .4s;
            font-size: 17px;
        }
        .loginBtn{
            background-color: var(--callToAction);
            color: white;
            &:hover{
                background-color: white;
                color: var(--callToAction);
            }
        }
        .signupBtn{
            background-color: white;
            color: var(--callToAction);
            &:hover{
                background-color: var(--callToAction);
                color: white;
            }
        }
    }

    .mobileNavBtn{
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;
        background-color: transparent;
        border: 0;
        cursor: pointer;
        position: absolute;
        right: 10px;
        .fa-bars{
            font-size: 25px;
            color: var(--mainColor);
        }
    }
}

.mainPage{
    width: 100vw;
    height: calc(100vh - 70px);
    display: flex;
    overflow: hidden;
    .mainStuff{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
        .siteName{
            font-size: 70px;
        }
        button{
            width: fit-content;
            height: 40px;
            border: 1px solid var(--callToAction);
            color: white;
            background-color: var(--callToAction);
            transition: .4s;
            cursor: pointer;
            font-family: "Poppins";
            padding: 10px;
            font-size: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover{
                background-color: white;
                color: var(--callToAction);
            }
        }
    }
    .image{
        background-image: url("../images/Notepad 2.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 50%;
        height: 100%;
    }
}

.footerPage{
    width: 100vw;
    background-color: var(--mainColor);
    color: var(--footerColor);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    .about{
        width: 50%;
        // height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        padding: 15px;
        // overflow: hidden;
        button{
            width: fit-content;
            height: 40px;
            border: 1px solid var(--callToAction);
            color: white;
            background-color: var(--callToAction);
            cursor: pointer;
            transition: .4s;
            font-family: "Poppins";
            font-size: 14px;
            padding: 10px;
        }
    }
    .subscribe{
        width: 50%;
        // height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: fit-content;
            height: fit-content;
            input{
                outline: 0;
                border: 0;
                height: 40px;
                width: 250px;
                padding: 5px;
                color: var(--mainColor);
                margin: 4px;
                font-family: "Poppins";
            }
            button{
                border: 1px solid var(--callToAction);
                width: fit-content;
                height: 35px;
                background-color: var(--callToAction);
                color: white;
                font-size: 14px;
                font-family: "Poppins";
                padding: 10px;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

@import './workarea';
@import './login';
@import './signup';
@import './responsive';
