@font-face {
  font-family: "Poppins";
  src: url("../assets/Poppins-Medium.ttf");
}

:root {
  --mainColor: #242c39;
  --callToAction: #3a5155;
  --footerColor: #ffffffee;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
  font-family: "Poppins";
  color: var(--mainColor);
  overflow-x: hidden;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 60px;
  padding: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .siteTitle {
  font-size: 33px;
}

.header .navList {
  width: 350px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 200px;
}

.header .navList li {
  font-size: 17px;
}

.header .navList li a {
  text-decoration: none;
  color: var(--mainColor);
  -webkit-transition: .5s;
  transition: .5s;
}

.header .navList li a::after {
  content: "";
  display: block;
  background-color: var(--mainColor);
  width: 0;
  height: 2px;
  -webkit-transition: .5s;
  transition: .5s;
}

.header .navList li a:hover::after {
  width: 100%;
}

.header .header_buttons {
  width: 200px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: calc(100vw - 970px);
}

.header .header_buttons button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 30px;
  padding: 10px;
  border: 1px solid var(--callToAction);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Poppins";
  cursor: pointer;
  -webkit-transition: .4s;
  transition: .4s;
  font-size: 17px;
}

.header .header_buttons .loginBtn {
  background-color: var(--callToAction);
  color: white;
}

.header .header_buttons .loginBtn:hover {
  background-color: white;
  color: var(--callToAction);
}

.header .header_buttons .signupBtn {
  background-color: white;
  color: var(--callToAction);
}

.header .header_buttons .signupBtn:hover {
  background-color: var(--callToAction);
  color: white;
}

.mainPage {
  width: 100vw;
  height: calc(100vh - 70px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mainPage .mainStuff {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}

.mainPage .mainStuff .siteName {
  font-size: 70px;
}

.mainPage .mainStuff button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 40px;
  border: 1px solid var(--callToAction);
  color: white;
  background-color: var(--callToAction);
  -webkit-transition: .4s;
  transition: .4s;
  cursor: pointer;
  font-family: "Poppins";
  padding: 10px;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainPage .mainStuff button:hover {
  background-color: white;
  color: var(--callToAction);
}

.mainPage .image {
  background-image: url("../images/Notepad 2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 50%;
  height: 100%;
}

.footerPage {
  width: 100vw;
  background-color: var(--mainColor);
  color: var(--footerColor);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footerPage .about {
  width: 50%;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  padding: 15px;
  overflow: hidden;
}

.footerPage .about button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 40px;
  border: 1px solid var(--callToAction);
  color: white;
  background-color: var(--callToAction);
  cursor: pointer;
  -webkit-transition: .4s;
  transition: .4s;
  font-family: "Poppins";
  font-size: 14px;
  padding: 10px;
}

.footerPage .subscribe {
  width: 50%;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footerPage .subscribe form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footerPage .subscribe form input {
  outline: 0;
  border: 0;
  height: 40px;
  width: 200px;
  padding: 5px;
  color: var(--mainColor);
  margin: 4px;
  font-family: "Poppins";
}

.footerPage .subscribe form button {
  border: 1px solid var(--callToAction);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 40px;
  background-color: var(--callToAction);
  color: white;
  font-size: 14px;
  font-family: "Poppins";
  padding: 10px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container_login {
  background-color: var(--mainColor);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.container_login .login {
  width: 25rem;
  height: 25rem;
  background-color: var(--callToAction);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2px;
}

.container_login .login input {
  width: 75%;
  height: 35px;
  padding: 5px;
  outline: 0;
  border: 0;
  font-family: "Poppins";
  font-size: 14px;
  color: var(--mainColor);
}

.container_login .login button {
  border: 1px solid var(--mainColor);
  color: white;
  font-family: "Poppins";
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 35px;
  padding: 10px;
  background-color: var(--mainColor);
  cursor: pointer;
}

.container_login a {
  color: white;
  text-decoration: none;
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container_login a::after {
  content: "";
  width: 0;
  height: 2px;
  display: block;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: white;
}

.container_login a:hover::after {
  width: 100%;
}

@-webkit-keyframes comeInGo {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  20% {
    -webkit-transform: translateY(110%);
            transform: translateY(110%);
  }
  70% {
    -webkit-transform: translateY(110%);
            transform: translateY(110%);
  }
  80% {
    -webkit-transform: translateY(110%);
            transform: translateY(110%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes comeInGo {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  20% {
    -webkit-transform: translateY(110%);
            transform: translateY(110%);
  }
  70% {
    -webkit-transform: translateY(110%);
            transform: translateY(110%);
  }
  80% {
    -webkit-transform: translateY(110%);
            transform: translateY(110%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

.comeBack {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.container_signup {
  width: 100vw;
  height: 100vh;
  background-color: var(--mainColor);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  position: relative;
}

.container_signup .signup {
  background-color: var(--callToAction);
  width: 30rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1.3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 1s;
  transition: 1s;
}

.container_signup .signup input {
  outline: 0;
  border: 0;
  width: 75%;
  height: 35px;
  padding: 5px;
  color: var(--mainColor);
  font-family: "Poppins";
}

.container_signup .signup button {
  border: 1px solid var(--mainColor);
  background-color: var(--mainColor);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-family: "Poppins";
  font-size: 14px;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

.container_signup p, .container_signup a {
  font-size: 14px;
}

.container_signup a {
  text-decoration: none;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container_signup a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: white;
  -webkit-transition: .5s;
  transition: .5s;
}

.container_signup a:hover::after {
  width: 100%;
}

.container_signup .passwordGuide {
  font-size: 14px;
  margin-top: 3px;
  -webkit-transition: 1s;
  transition: 1s;
  display: none;
  overflow: hidden;
  background-color: #3a5155aa;
  padding: 10px;
  position: fixed;
  top: -150px;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-animation: comeInGo 10s;
          animation: comeInGo 10s;
}

.container_signup .passwordGuide ul {
  list-style: disc;
}

.container_signup .messageBar {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 15px;
  position: fixed;
  right: 0px;
  top: 10px;
  background-color: var(--callToAction);
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
  color: white;
  -webkit-transition: .5s;
  transition: .5s;
}
/*# sourceMappingURL=index.css.map */